.auth-page {
  height: 100%;
  margin-top: 150px;
  .auth-form {
    padding: 50px 100px;
    width: fit-content;
    margin: 0 auto;
    height: fit-content;
    border-radius: 10px;
    background: white;

    box-shadow: 5px 10px 8px #888888;
    .button-submit {
      text-align: center;

      .ant-btn {
        width: 50%;
      }
    }
    .ant-form-item {
      &-row {
        .ant-form-item-control {
          .ant-input {
            &:hover,
            &:focus,
            &:active {
              background-color: transparent;
              outline: none;
            }
          }
        }
      }
    }
    .another-options {
      & > a {
        color: #165c9c;
        font-size: 0.825rem;
        font-weight: 600;
        text-decoration: underline;
        text-align: right;
        display: block;
      }
    }
  }
}
