.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
  border: 2px dashed #ccc;
  width: 60%;
  margin: 40px auto;
  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      & > h1 {
        color: #606060;
        font-size: 36px;
        font-weight: 600;
        margin: 0;
      }
    }
    & > span {
      font-size: 18px;
      color: #606060;
      font-weight: 400;
    }
    .add-to-cart {
      display: flex;
      gap: 20px;

      .ant-btn {
        background-color: #414141;
        span {
          text-transform: uppercase;
          color: #ffffff;
        }
        &:hover,
        &:focus,
        &:active {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

.products {
  padding: 50px 0;
  display: flex;
  &__filter {
    flex: 1;
    border-right: 1px solid #ccc;
    min-width: 300px;
    &__form {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .select-champ,
      .select-price {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > span {
          font-weight: 600;

          color: #606060;
        }
      }
    }
  }
  &__items {
    flex: 5;
    &__value {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
      &__info {
        cursor: pointer;
        & > span {
          img {
            transition: transform 0.8s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          align-items: center;

          & > span {
            color: #606060;
            text-transform: uppercase;
            &:first-child {
              font-weight: 600;
            }
            &:last-child {
              font-weight: 500;
            }
          }
        }
      }
    }
    &__pagination {
      padding: 40px 0;
      text-align: center;
    }
  }
}

.ant-select-dropdown {
  .rc-virtual-list {
    .ant-select-item {
      .ant-select-item-option-content {
        font-weight: 500;
        color: #606060;
      }
    }
  }
}
