.layout-admin {
  min-height: 100vh;
  .ant-card {
    min-height: 88vh;
    border-radius: 10px;
  }
  .ant-layout-content {
    padding: 20px 30px;
  }
}

.layout-client {
  min-height: 100vh;

  .ant-layout-footer {
    background-color: #001529;
  }
}
