.layout-admin {
  min-height: 100vh;
  .ant-card {
    min-height: 88vh;
    border-radius: 10px;
  }
  .ant-layout-content {
    padding: 20px 30px;
  }
}

.layout-client {
  min-height: 100vh;
  .ant-layout-content {
    background-color: #ffffff;
  }
  .ant-layout-footer {
    background-color: #001529;
  }
  .ant-layout-header {
    background-color: #ffffff;
    height: auto;
  }
  .ant-layout-footer {
    .footer__wrap {
      display: flex;
      justify-content: space-between;
      &__left,
      &__middle,
      &__right {
        & > h1 {
          color: #ffffff;
          font-size: 2.5rem;
          font-weight: 600;
          min-height: 60px;
        }
        & > .item {
          padding: 10px 0;
          span {
            font-size: 14px;
            color: #ffffff;
          }
        }
      }
      &__right,
      &__middle {
        & > h1 {
          font-size: 1.5rem !important;
        }
      }
      &__right {
        .ant-input-group-wrapper {
          .ant-input {
            border: none;
            background: none;
            border-bottom: 1px solid #ffffff !important;
            padding-left: 0;

            &:hover,
            &:focus,
            &:active {
              background: none;
              outline: none;
              box-shadow: none;
              color: #ffffff;
            }
          }
          .ant-input-group-addon {
            padding-right: 0;
            cursor: pointer;
            background: none;
            border: none;
            border-bottom: 1px solid #ffffff !important;
            .anticon-arrow-right {
              color: #ffffff;
              font-size: 18px;
            }
          }
        }
        .social-media {
          padding-top: 10px;
          span {
            color: #ffffff;
          }
          .group {
            .anticon {
              cursor: pointer;
              padding: 10px 10px 10px 0;
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
